<div class="exchange-section">
  <div class="left">
    <div class="amount">
      <label for="amount">Amount</label>
      <input
        [(ngModel)]="amount"
        (input)="setAmount($event)"
        type="number"
        id="amount"
        min="0"
      />
    </div>
    <div class="result">
      <input disabled type="text" name="" id="" [value]="convertedResult" />
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="from">
        <label for="from">From</label>
        <select
          [(ngModel)]="currencyFrom.symbol"
          (change)="selectCurrency($event, 'from')"
          id="from"
          name="from"
          [disabled]="disableElements || disableFromSelect"
        >
          <option
            *ngFor="let currency of currencyFacade.currencies$ | async"
            [value]="currency.symbol"
          >
            {{ currency.symbol }}
          </option>
        </select>
      </div>
      <div class="arrow">
        <img src="assets/images/double-arrow.png" alt="double-arrowe" />
      </div>
      <div class="to">
        <label for="to">To</label>
        <select
          [(ngModel)]="currencyTo.symbol"
          (change)="selectCurrency($event, 'to')"
          id="to"
          name="to"
          [disabled]="disableElements"
        >
          <option
            *ngFor="let currency of currencyFacade.currencies$ | async"
            [value]="currency.symbol"
          >
            {{ currency.symbol }}
          </option>
        </select>
      </div>
    </div>
    <button [disabled]="disableElements" (click)="convert()" class="convert">
      Convert
    </button>
    <div class="bottom">
      <input disabled type="text" name="" id="" [value]="convertedResult2" />
      <button
        [routerLink]="['/converter', 'details']"
        *ngIf="showDetailsButton"
        [disabled]="disableElements"
      >
        More Details
      </button>
    </div>
  </div>
</div>
