@import "src/app/core/theming/main";

// Common styles
button {
  background: $blue;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
label {
  color: #fff;
  font-size: 14px;
}
input,
select {
  height: 35px;
}
input {
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  outline: none;
}
select {
  background: $gray;
  color: #fff;
  border-radius: 4px;
  outline: none;
}

.exchange-section {
  border: 1px solid #fff;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-gap: 20px;
  padding: 2rem;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    .amount {
      display: flex;
      flex-direction: column;
      gap: 8px;
      flex: 1;
      input {
        text-align: center;
      }
    }
    .result {
      input {
        width: 100%;
        text-align: center;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1.5rem;
      .from,
      .to {
        display: flex;
        flex-direction: column;
        gap: 8px;
        flex: 1;
      }
      .arrow {
        cursor: pointer;
        width: 50px;
        img {
          width: 100%;
        }
      }
    }
    .convert {
      padding: 0.6rem 2rem;
    }
    .bottom {
      display: flex;
      align-items: center;
      gap: 16px;

      input {
        height: 70px;
        text-align: center;
        flex: 1;
      }
    }
  }
}

@media (max-width: $sm) {
  .exchange-section {
    grid-template-columns: 1fr;
  }
}
