<div class="exchange-section">
  <div class="left">
    <div class="amount">
      <label for="amount">Amount</label>
      <input type="number" id="amount" value="25" />
    </div>
    <div class="result">
      <input type="text" name="" id="" value="1.00 EUR = XX.XX USD" />
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="from">
        <label for="from">From</label>
        <select id="from" name="from">
          <option>Option 1</option>
        </select>
      </div>
      <div class="arrow">
        <img src="assets/images/double-arrow.png" alt="double-arrowe" />
      </div>
      <div class="to">
        <label for="to">To</label>
        <select id="to" name="from">
          <option>Option 1</option>
        </select>
      </div>
    </div>
    <button class="convert">Convert</button>
    <div class="bottom">
      <input disabled type="text" name="" id="" value="XX.XX USD" />
      <button>More Details</button>
    </div>
  </div>
</div>
